{% extends 'base.html' %}
{% load static %}
    {% block title %}ToDo{% endblock %}
{% block content %}
<div class="center-column">
    <p><a class="mip" href="{% url 'home' %}"><-назад</a></p>
    {% if user.is_authenticated %}
    <a class="btn btn-sm btn-info" href="{% url 'create' %}">Создать задачу</a>
    {% endif %}
  {% for task in object_list %}
    <div class="item-row">
         {% if task.complete == True %}
            <strike><p>Задача: {{ task.title }}.</p></strike>
                атор: {{ task.user }},
                дата: {{ task.created }}.
        {% else %}
            <span><p>Задача: {{ task.title }}.</p></span>
              автор: {{ task.user }},
              создана: {{ task.created }}.
        {% endif %}
           {% if user.is_authenticated %}
        <a class="btn btn-sm btn-info" href="{% url 'update' task.id %}">Изменить задачу</a>
        <a class="btn btn-sm btn-danger" href="{% url 'delete' task.id %}">Удалить задачу</a>
        {% endif %}
    </div>
  {% endfor %}
</div>
{% endblock %}
